body
{
  background: url("/imagenes/fondoprincipal.jpg") no-repeat center center fixed;
    background-size: auto;

background-size: cover;
}
*
{
  margin: 0%;
  padding: 0%;
}
footer {
  background-color: #f4c405;
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 10%;
  color: white;
}
#encabezado
{
  background-color: #f4c405;
  height: 100px;
}
#menu
{
  margin-right: 3%;
  float: right;
  width:auto;
  text-decoration: none;
}
#menu ul
{
  list-style-type: none;
  display:table;
  text-decoration: none;
}
#menu li
{
  display:inline-block;
  text-decoration: none;
}
#menu li a
{
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menu li ul li
{
  display: none;
  position: relative;
t ext-decoration: none;
  color: black;
  background-color: white;
}
#menu li:hover ul li
{
  display: block;
}

.enlaceRegistro
{
    padding-left: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #f3af07;
    border-radius: 6px;
    border: 2px solid #fdfdfd;
}
.enlaceRegistro:hover
{
  transition: 1s;
  color: #f3af07;
  border: 2px solid black;
  background-color: #fdfdfd;

}
h1
{
  margin-left: 41%;
padding-top: 1%;
}
