#enviar
{
  display: none;
}
#cancelar
{
  display: none;
}
form
{
  margin-top: 6%;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  background-color: #ccc;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}
#crear{
  transition: 0.8s;
  width:100%;
  padding:8px 16px;
  margin-top:30px;
  border:2px solid #f6f6f6;
  border-radius:5px;
  display:block;
  color:#fff;
  background-color:#000;
}

#crear:hover
{
  transition: 1s;
  color: black;
  border: 2px solid black;
  background-color: #f4c405;
}
form label
{
	width:100px;
	font-weight:bold;
  margin-left: 5%;
}

form input[type="text"],
form input[type="password"]
{
	width:86%;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
  margin-left: 5%;
}


#modificar{
  transition: 0.8s;
  width:100%;
  padding:8px 16px;
  margin-top:30px;
  border:2px solid #f6f6f6;
  border-radius:5px;
  display:block;
  color:#fff;
  background-color:#000;
}

#modificar:hover
{
  transition: 1s;
  color: black;
  border: 2px solid black;
  background-color: #f4c405;
}
#enviar
{
  transition: 0.8s;
  width:68%;
  padding:8px 16px;
  margin-top:30px;
  border:2px solid #f6f6f6;
  border-radius:5px;
  color:#fff;
  background-color:#000;
}
#enviar:hover
{
  transition: 0.5s;
  color: black;
  border: 2px solid black;
  background-color: #44a7ff;
}
#cancelar
{
  transition: 0.8s;
  width:30%;
  padding:8px 16px;
  margin-top:30px;
  border:2px solid #f6f6f6;
  border-radius:5px;
  display:none;
  color:#fff;
  background-color:#000;
}
#cancelar:hover
{
  transition: 0.5s;
  color: black;
  border: 2px solid black;
  background-color: red;
}

#resultado
{
  text-align: center;
  color: red;
}
#mensajeContraseña
{
  text-align: center;
  color: red;
}

#mensajeCorreo
{
  text-align: center;
  color: red;
}
.borrar{
  transition: 0.8s;
  width: 28%;
  padding: 8px 16px;
  margin-top: 30px;
  border: 2px solid #f6f6f6;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000;
  float: right;
  margin-right: 18%;
}
.borrar:hover
{
  transition: 1s;
  color: black;
  border: 2px solid black;
  background-color: #f4c405;
}

#errorPregunta
{
  display: none;
  color: red;
  text-align: center;

}
#respuestaCorrecta
{
  display: none;
  color: red;
  text-align: center;
}
#ErrorImagen
  {
    display: none;
    color: red;
    text-align: center;
  }
