#enunciado
{
  padding: 1%;
  text-align: center;
  margin: auto;
}
#imagen{
  margin-bottom: 2%;
  width: 14%;
  height: 10%;
  padding-left: 43%;
}
h4{
  height: 63px;
  width: 100%;

  text-align: center;
  color: white;
  margin-bottom: 6%;

}
#respuestas
{
  margin-left: 10%;
  margin-right: 10%;
  column-count: 2;
}
 h4.0{
   padding-left: 1%;
   padding-top: 1%;
 }
 h4.1{
   padding-left: 1%;
   padding-top: 1%;
 }
#respuestaA, #respuestaB, #respuestaC, #respuestaD
{
  background-color: #5000ff;
  border-radius: 10px;
}
#respuestaA:hover, #respuestaB:hover, #respuestaC:hover, #respuestaD:hover
{
  transition: 0.5s;
  background-color: #1f0a4d;
}
#bontonSinRespuesta
{
  display: none;
}
#explicacion
{
  display: none;
}

.boton
{
  margin-left: 35%;
  transition: 0.8s;
	width:30%;
	padding:8px 16px;
	margin-top:30px;
	border:2px solid #f6f6f6;
	border-radius:5px;
	color:#fff;
	background-color:#000;
}

.boton:hover{
  width:30%;
  margin-left: 35%;
  transition: 1s;
  color: black;
  border: 2px solid black;
  background-color: #f4c405;
}
#explicacion
{

  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 5px;
  border: 2px solid black;
  padding: 3px;
  margin-top: 30px;
  text-align: center;
  background-color: #1f0a4d;
  color: white;
}
