#input
{
margin-left: auto;
margin-right: auto;
padding-left: 33%;
margin-top: 2%;
}
th
{
  border: solid 2px;
}
tr
{
  border: solid 2px;
}
.imagenBorrar
{
  width: 10%;
}
.imagenMod
{
  width: 20%;

}

table.paleBlueRows {
  border: 1px solid #FFFFFF;
  width: 80%;
  height: 5%;
  text-align: center;
  border-collapse: collapse;
  background-color: skyblue;
  margin-left: 11%;
  margin-top: 4%;
  margin-bottom: 10px;
}
table.paleBlueRows td, table.paleBlueRows th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}

table.paleBlueRows tr:nth-child(even) {
  background: #D0E4F5;
}
