
form
{
  margin-top: 6%;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ccc;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

form label
{
	width:100px;
	font-weight:bold;
  margin-left: 5%;
}

form input[type="text"],
form input[type="password"]
{
	width:80%;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
  margin-left: 5%;
}

form input[type="submit"]
{
  transition: 0.8s;
	width:100%;
	padding:8px 16px;
	margin-top:30px;
	border:2px solid #f6f6f6;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
}

form input[type="submit"]:hover{
  transition: 1s;
  color: black;
  border: 2px solid black;
  background-color: #f4c405;
}
#mensaje
{
  color: red;
  display: none;
}
#login
{
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid black;
}

#login > h3
{
  color: black;
  text-align: center;
}
