.pregunta
{
  text-decoration: none;
  color: white;
}

.imagen{
  width: 149px;
  border: solid 2px;
  margin-top: 3%;
}
.preguntas{
  margin: 2%;
  background-color: #209ea4;
  height: 70px;
}
.configurar
{
  width: 30%;
margin-left: 34%;
}
