.pregunta
{
  text-decoration: none;
  color: white;
}

.imagen{
  width: 149px;
  border: solid 2px;
  margin-top: 3%;
}
.preguntas{
  margin: 2%;
  background-color: #209ea4;
  height: 70px;
}
.configurar
{
  width: 30%;
margin-left: 34%;
}
.paleBlueRows
{
border: solid 1px;
width: 100%;
}
.paleBlueRows tr
{
  background-color: #209ea4;
  height: 70px;
}
.paleBlueRows td{
  text-align: center;
}
a
{
  text-decoration: none;
color: black;
}
